.main-nav {
  &__list {
    @include list-reset;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $color-endeavour;
  }
}
