.main-nav {

  @include vp-1023  {
    display: none;
    position: fixed;
    top: 81px;
    left: 0;
    width: 100%;
    height: calc(100vh - 81px);
    padding: 50px 0;
    background-color: $color-endeavour;
    overflow-y: auto;
    justify-content: center;
  }

  &__wrapper  {
    @include vp-767 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__inner  {
    @include vp-1023  {
      display: flex;
      justify-content: center;
      gap: 120px;
      width: 100%;

    }

    @include vp-767 {
      gap: 50px;
      margin: 0 0 30px;
    }
  }

  &__head {
    display: none;
    @include vp-1023  {
        display: flex;
        margin: 0 0 40px;
        font-size: 22px;
        line-height: 26px;
        color: $color-white;
      }

  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px 40px;
    flex-wrap: wrap;

    @media (max-width: 1250px) {
      gap: 10px 20px;
    }

    @include vp-1023 {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      width: 150px;
    }

    @include vp-767 {
      width: 120px;
      gap: 20px;
    }

    &--menu {
      display: none;

      @include vp-1023 {
        display: flex;
      }
    }
  }

  &__link {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $color-endeavour;

    @media (max-width: 1100px)  {
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-1023  {
      font-size: 16px;
      line-height: 24px;
      color: $color-white;
    }
  }

  &__social {
    display: none;

      @include vp-1023  {
        @include list-reset;
        display: flex;
        position: fixed;
        top: calc(81px + 50px);
        right: 40px;
        flex-direction: column;
        gap: 40px;
      }

      @include vp-767 {
        position: static;
        top: auto;
        right: auto;
        flex-direction: row;
        justify-content: center;
        margin: auto 0 20px;
      }
  }

  &__social-link  {
    @include vp-1023  {
      display: flex;
    }
  }

  &__phone  {
    display: none;

    @include vp-767 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $color-white;
    }
  }
}
